.vw-1 {
  font-size: 1vw;
}

.vw-1-2 {
  font-size: 1.2vw;
}

.vw-1-3 {
  font-size: 1.3vw;
}



.vw-1-5 {
  font-size: 1.5vw;
}

.vw-2 {
  font-size: 2vw;
}

.vw-2-5 {
  font-size: 2.5vw;
}

.vw-3 {
  font-size: 3vw;
}

.vw-3-5 {
  font-size: 3.5vw;
}

.vw-4 {
  font-size: 4vw;
}

.vw-5 {
  font-size: 5vw;
}

.vw-6 {
  font-size: 6vw;
}

.vw-7 {
  font-size: 7vw;
}

.vmin-3 {
  font-size: 3vmin;

}

.vh-0-5 {
  font-size: 0.5vh;
}

.vh-1 {
  font-size: 1vh;
}

.vh-2 {
  font-size: 2vh;
}


.vh-2-5 {
  font-size: 2.5vh;
}


.vh-3 {
  font-size: 3vh;
}

.vh-4 {
  font-size: 4vh;
}

.vh-5 {
  font-size: 5vh;
}

.vh-6 {
  font-size: 6vh;
}

.em-1 {
  font-size: 1em;
}

.em-1-1 {
  font-size: 1.1em;
}

.em-1-2 {
  font-size: 1.2em;
}


.em-1-3 {
  font-size: 1.3em;
}

.em-2 {
  font-size: 2em;
}

.reactive-font-12 {
  font-size: calc(12px + .5vw);
}

.reactive-font-15 {
  font-size: calc(15px + .5vw);
}

.reactive-font-20 {
  font-size: calc(20px + .5vw);
}

.reactive-font-30 {
  font-size: calc(30px + .5vw);
}

.reactive-font-40 {
  font-size: calc(40px + .5vw);
}